* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}

.game-area {
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
}

.board-piece {
    border: none;
    border-radius: 20px;
    font-size: 100px;
}

.board-piece:hover {
    background-color: lightyellow;
}